.boardGrid {
  display: grid;
  grid-template-columns: repeat(10, 32px);
  grid-gap: 2px;

  .square {
    display: flex;
    justify-content: center;
    margin: 2px 0;
    align-items: center;
    border: 1px solid rgba(0, 225, 255, 0.8);
    height: 30px;
    color: rgba(0, 255, 255, 0.5);
    border-radius: 5px;

    img {
      display: flex;
      height: 30px;
    }

    .anim {
      animation: blast 0.2s 1;
    }
  }

  .square:hover {
    background-color: rgba(255, 255, 0, 0.4);
    cursor: pointer;
    border: 1px solid red;
  }

  .hovered {
    background-color: rgba(255, 255, 0, 0.4);
  }

  .ship {
  }

  .hit {
    color: orangered;
  }
}

@keyframes blast {
  0% {
    background-color: rgb(255, 0, 0);
    opacity: 1;
    width: 0.7rem;
    height: 0.7rem;
    margin: -0.25em;
    border-width: 0.5em;
    border-radius: 100%;
  }
  100% {
    background-color: rgb(251, 233, 152);
    opacity: 0.1;
    width: 4rem;
    height: 4rem;
    margin: -7.5em;
    border-width: 0.03em;
    border-radius: 100%;
  }
}

// div.clickEffect {
//   position: fixed;
//   box-sizing: border-box;
//   border-style: solid;
//   border-color: #ffffff;
//   border-radius: 50%;
//   animation: clickEffect 0.4s ease-out;
//   z-index: 99999;
// }
// @keyframes clickEffect {
//   0% {
//         opacity: 1;
//         width: 0.5em;
//     height: 0.5em;
//         margin: -0.25em;
//         border-width: 0.5em;
//   }
//   100% {
//         opacity: 0.2;
//         width: 15em;
//     height: 15em;
//         margin: -7.5em;
//         border-width: 0.03em;
//   }
// }
